In [1]:
import pandas as pd

Read data

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Indexing based on some condition

In [7]:
condition_1 = data['Age']>15
indexed_1 = condition_1
print(indexed_1)

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: Age, Length: 891, dtype: bool

In [10]:
condition_2 = data['Embarked'] == 'Q'
indexed_2 = condition_2
print(indexed_2)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890     True
Name: Embarked, Length: 891, dtype: bool

In [9]:
condition_3 = data['Sex'] == 'female'
indexed_3 = condition_3
print(indexed_3)

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool

Indexing based on multiple conditions

In [11]:
condition_4 = (data['Pclass']>1) & (data['Sex']=='male')
indexed_4 = condition_4
print(indexed_4)

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889    False
890     True
Length: 891, dtype: bool

In [14]:
condition_5 = (data['Age']>25) | (data['Fare']>72.00)
indexed_5 = condition_5
print(indexed_5)

0      False
1       True
2       True
3       True
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Length: 891, dtype: bool